.overview {
  width: 100%;
  font-size: 1rem;
  margin: 10px 0;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: 300ms ease-in-out;
  border-radius: 5px;
}

.h3 {
  color: red;
}

@media screen and (min-width: 728px) {
  .overview {
    width: 500px;
  }
}
